* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.pointer:hover {
  cursor: pointer;
}
main {
  display: grid;
  grid-template-columns: 1.3fr 1.3fr 3.9fr 1.3fr;
  grid-template-rows: 80px 80px 440px 320px;
  margin-bottom: 80px;
}

#home {
  color: #7fad39;
}
#photo-verduras {
  grid-column: 3/4;
  grid-row: 3;
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-left: 40px;
}
#photo-verduras > div {
  height: 65%;
}
#photo-verduras > div > span {
  letter-spacing: 4px;
  font-weight: 900;
  color: #7fad39;
  font-size: 0.9rem;
}
#photo-verduras > div > h2 {
  font-size: 3rem;
  color: #252525;
  font-weight: 800;
  line-height: 52px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#photo-verduras > div > p {
  margin-bottom: 35px;
  color: #6f6f6f;
}
#photo-verduras > div > a {
  padding: 10px 28px;
  background-color: #7fad39;
  color: white;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
}
#carrossel-area {
  grid-row: 4;
  grid-column: 2/4;
  display: flex;
  align-items: end;
}
#carrossel {
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
}
#carrossel > #categoria-laranja {
  background-image: url(img/cat-1.jpg);
}
#carrossel > #categoria-carne {
  background-image: url(img/cat-5.jpg);
}
#carrossel > #categoria-verduras {
  background-image: url(img/cat-3.jpg);
}
#carrossel > #categoria-suco {
  background-image: url(img/cat-4.jpg);
}
#carrossel > .categoria {
  margin: 0 15px;
}
#carrossel > .categoria > div {
  top: 85%;
  position: relative;
  background-color: white;
  padding: 10px 0px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carrossel > .categoria > div > a {
  text-align: center;
  display: block;
  width: 100%;
  color: #1c1c1c;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-decoration: none;
}
#carrossel > .seta {
  background-color: white;
  border: 1px solid #ebebeb;
  width: 30px;
  height: 70px;
  align-self: center;
  position: relative;
  color: #1c1c1c;
}
h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
}
.barra-horizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80px;
  height: 4px;
  background-color: #7fad39;
}
#feat-prod-category-selector {
  margin-top: 30px;
}
#feat-prod-category-selector > form > ul {
  display: flex;
  width: 100%;
  padding: 0 37%;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 50px;
}
#feat-prod-category-selector > form > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#feat-prod-category-selector > form > ul > li > span {
  color: #1c1c1c;
  font-size: 18px;
  line-height: 25px;
}
#feat-prod-category-selector > form > ul > li > input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.underbar {
  height: 2px;
  width: 0;
  background-color: #7fad39;
  transition: 0.5s;
}

#feat-prod-category-selector > form > ul > li > input:checked + .underbar {
  width: 100%;
}
article {
  display: grid;
  grid-template-columns: 1.3fr 35px 1.3fr 1.3fr 1.3fr 1.3fr 35px 1.3fr;
  grid-template-rows: 1fr 1fr;
  height: 78vh;
  row-gap: 20px;
}
article > div {
  margin: 0 15px;
}

#food1 {
  grid-column: 3;
}
#carne {
  background-image: url(img/Produtos/feature-1.jpg);
}
#banana {
  background-image: url(img/Produtos/feature-2.jpg);
}
#goiaba {
  background-image: url(img/Produtos/feature-3.jpg);
}
#melancia {
  background-image: url(img/Produtos/feature-4.jpg);
}
#mirtilo {
  background-image: url(img/Produtos/feature-5.jpg);
}
#hamburguer {
  background-image: url(img/Produtos/feature-6.jpg);
}
#manga {
  background-image: url(img/Produtos/feature-7.jpg);
}
#maca {
  background-image: url(img/Produtos/feature-8.jpg);
}
#food5 {
  grid-row: 2;
  grid-column: 3;
}
#food6 {
  grid-row: 2;
  grid-column: 4;
}
#food7 {
  grid-row: 2;
  grid-column: 5;
}
#food8 {
  grid-row: 2;
  grid-column: 6;
}
.food-foto {
  height: 75%;
  overflow: hidden;
}
.food-foto > div {
  display: flex;
  padding: 0 20%;
  justify-content: space-evenly;
  position: relative;
  top: 100%;
  transition: ease-out 0.3s;
}
.food-foto:hover > div {
  top: 75%;
}

.food > div {
  margin-bottom: 10px;
}
.food > a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #252525;
}
.food > h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 20px;
}
.container {
  width: 100%;
  height: 280px;
  display: grid;
  grid-template-columns: 1.22fr 3.9fr 1.22fr;
  margin-bottom: 30px;
}
.row {
  height: 100%;
  width: 100%;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}
.row > div > img {
  width: 100%;
}
.prod-ranking-list {
  display: grid;
  grid-template-columns: 1.3fr 1.3fr 30px 1.3fr 30px 1.3fr 1.3fr;
}
#latest-products {
  grid-column: 2;
}
#top-rated-products {
  grid-column: 4;
}
#review-products {
  grid-column: 6;
}
.prod-ranking-name-section {
  position: relative;
}
.prod-ranking-name-section > h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.prod-nav-button-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 80px;
  top: 10px;
  left: 100%;
  transform: translate(-100%, 0);
}
.prod-nav-button-container > button {
  width: 30px;
  height: 30px;
  background-color: #f3f6fa;
  border-radius: 0;
  outline: 0;
  border: 1px solid #e6e6e6;
}
.prod-nav-button-container > button > span {
  color: #636363;
  font-size: 1rem;
}

.prod-ranking-container > .container {
  margin-bottom: 20px;
  height: 30%;
  display: flex;
  text-decoration: none;
  color: #252525;
}
.prod-ranking-container > .container > img {
  height: 110px;
  width: 110px;
}
.prod-ranking-container > .container > div {
  padding-left: 30px;
  width: 200px;
}
.prod-ranking-container > .container > div > span,
h6 {
  font-size: 1.2rem;
}
.prod-ranking-container > .container > div > span {
  font-weight: 800;
}
.prod-ranking-container > .container > div > h6 {
  font-weight: 600;
}
#blog-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1.3fr 1.3fr 30px 1.3fr 30px 1.3fr 1.3fr;
  grid-template-rows: 470px;
}
.blog-post {
  height: 440px;
  width: 100%;
}
#post1 {
  grid-column: 2;
}
#post2 {
  grid-column: 4;
}
#post3 {
  grid-column: 6;
}
.blog-post > ul {
  display: flex;
}
.blog-post > ul > li {
  margin-right: 20px;
  display: flex;
  width: 120px;
  align-items: center;
}
.blog-post > ul > li > svg {
  width: 18px;
  margin-right: 5px;
  fill: #b2b2b2;
}
.blog-post > ul > li > span {
  color: #b2b2b2;
  font-size: 15px;
}
.blog-post > h5 > a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 800;
  font-size: 1.3rem;
}
.blog-post > p {
  color: #6f6f6f;
  font-size: 16px;
  line-height: 26px;
}
